.home {
    min-height: 100%;
}

.dash-board {
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 120px;

    span {
        color: #606266;
        font-size: 26px;
        font-weight: 700;
    }
}